<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts{{#if title}} | {{title}}{{/if}}</title>
  </head>
  <body>

    <header>
      <h1>Contacts</h1>
    </header>

    <nav>
        <a class="button" href="/">My Contacts</a>
        <a class="button" href="/contactForm">New Contact</a>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
